<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>HR Department</h1>
        <p>Student no: x13121529</p>
        <p>Student Name: Jennifer Mwangi</p>
	<p class="text-center"><a href="http://github.com/jenniferwangui" target="_blank" class="btn btn-primary btn-lg">Show me the code</a></p>
		</div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Holidays</h2>
          <p>This section contains staff details and their holidays as per requested. request for a holiday here and HR will be back at you as soon as they can.you can also search for holidays taken from search bar. Thanks </p>
          <p><a class="btn btn-default" href="holidays#show" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Staff Profile</h2>
          <p>You can view you profile here once you log in. All detailed information of our staff is available here feel free to update or change your profile as you wish. Make sure you log out successfully once you are finished. Thanks </p>
          <p><a class="btn btn-default" href="employees#show" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Blog</h2>
          <p>Welcome to our HR blog, you are free to share your views or discussion with your collegues and you can also comment on the posted blog. The purpose of this blog is to build social relations with other readers hope it will liftup you day while working. Thanks</p>
          <p><a class="btn btn-default" href="posts#show" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; JenniferMwangi 2015</p>
      </footer>
    </div> <!-- /container -->
